@media screen and (min-width: 1001px) {
  .header__logo {
    max-width: 142px;
    max-height: 33px;
  }
}

@media screen and (max-width: 1000px) {
  .header__logo {
    padding-left: 19px;
  }
}

@media screen and (max-width: 425px) {
  .header__logo {
    padding-left: 27px;
    max-width: 103px;
    max-height: 24px;
  }
}