.login__field {
  border: none;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-height: 60px;
  margin: 0 0 24px 0;
  padding: 0;
}
/*
@media screen and (min-width: 426px) {
  .popup__field {
    min-height: 55px;
  }
}

@media screen and (max-width: 425px) {
  .popup__field {
    min-height: 58px;
  }
}*/