.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: visibility .2s, opacity .2s linear;
  z-index: 3;
  -webkit-transition: visibility .2s, opacity .2s linear;
  -moz-transition: visibility .2s, opacity .2s linear;
  -ms-transition: visibility .2s, opacity .2s linear;
  -o-transition: visibility .2s, opacity .2s linear;
}

.popup::before {
  cursor: pointer;
  background-color: #000;
  opacity: .5;
  position: absolute;
  content: ' ';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}