.login__input {
  border: none;
  border-bottom: 2px #c4c4c4 solid;
  background-color: #000;
  font-size: 14px;
  line-height: 16px;
  width: 100%;
  max-height: 35px;
  margin-bottom: 5px;
  color: #cccccc;
  padding: 2px 0 8px;
}

.login__input:focus {
  outline: none;
}

@media screen and (max-width: 425px) {
  .login__input {
    padding-left: 0;
  }
}