.profile__add-button {
  background-image: url('../../../images/icon_add-button.svg');
  background-repeat: no-repeat;
  background-position: center;
  height: 50px;
  background-color: #000;
  border: 2px #fff solid;
  align-content: center;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  cursor: pointer;
}
@media screen and (min-width: 740px) {
  .profile__add-button {
    margin-left: auto;
    min-width: 150px;
    background-size: 20px;
  }
}

@media screen and (max-width: 739px) {
  .profile__add-button {
    margin-top: 34px;
    margin-left: 0;
    min-width: 100%;
    background-size: 16px;
  }
}