.page {
  font-family: 'Inter', Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: #000;
  color: #fff;
  margin: 0 auto;
  min-height: 100vh;
}